@model IEnumerable<Product>

@if (TempData["Message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Message"]
    </div>
}
<section class="container bg-light">
    @foreach (var item in Model)
    {
        <section style="width:40%;margin:5px">
            <h2>Name : @item.Name</h2>
            <h2>Description : @item.Description</h2>
            <h2>Price : @item.Price</h2>
            <h2>Discount : @item.Discount</h2>
            <h2>Imagelink : @item.Imagelink</h2>
            <a class="btn btn-danger" asp-controller="product" asp-action="delete"
               asp-route-id="@item.Id">Delete Product</a>
            <a class="btn btn-primary" asp-controller="product" asp-action="update"
               asp-route-id="@item.Id">Update Product</a>
        </section>
    }

    <products-list sort="z-a" count="1"></products-list>

    <a href="/product/add" class="btn btn-outline-success">Add New Product</a>
</section>
