@model Intro.Models.RestaurtantViewModel
<html>
<body>
    @foreach (var item in Model.Drink)
    {
        <div>
            <h2>Id: @item.id</h2>
            <h2>Name:@item.name </h2>
            <h2>Description: @item.description</h2>
            <h2>Price: @item.price</h2>
        </div>
    }
    @foreach (var item in Model.FastFood)
    {
        <div>
            <h2>Id: @item.id</h2>
            <h2>Name:@item.name </h2>
            <h2>Description: @item.description</h2>
            <h2>Price: @item.price</h2>
        </div>
    }
    @foreach (var item in Model.HotMeal)
    {
        <div>
            <h2>Id: @item.id</h2>
            <h2>Name:@item.name </h2>
            <h2>Price: @item.price</h2>
        </div>
    }
</body>
</html>